<div class="wrapper sticky-top">
    <!-- Sidebar  -->
    <nav id="sidebar" *ngIf="navbarLogin">
        <div class="sidebar-header">
            <h3>examination</h3>
        </div>

        <ul class="list-unstyled components">
            <p>{{now |date:'medium'}}
            </p>
            <li class="nav-item" *ngIf="disableMenuStudent">
                <a href="#menuStudent" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">นิสิต</a>
                <ul class="collapse list-unstyled" id="menuStudent">
                    <li>
                        <a routerLink="/นิสิต/ตารางสอบ" routerLinkActive="active-link">ตารางสอบ</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item" *ngIf="disableMenuTeacher">
                <a href="#menuTeacher" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">อาจารย์</a>
            </li>
            <li class="nav-item" *ngIf="disableMenuStaff">
                <a href="#menuStaff" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">เจ้าหน้าที่</a>
                <ul class="collapse list-unstyled" id="menuStaff">
                    <a href="#manageSubject" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">จัดการรายวิชา</a>
                    <ul class="collapse list-unstyled" id="manageSubject">
                        <li>
                            <a class="nav-link" routerLink="/เจ้าหน้าที่/จัดการวิชา" routerLinkActive="active-link">จัดการวิชา</a>
                        </li>
                        <li>
                            <a routerLink="เจ้าหน้าที่/จัดการรายวิชาสอน/เพิ่มรายวิชาสอน" routerLinkActive="active-link">เพิ่มรายวิชา</a>
                        </li>
                        <li>
                            <a routerLink="เจ้าหน้าที่/จัดการการสอบ" routerLinkActive="active-link">จัดการการสอบ</a>

                        </li>
                        <li>
                            <a routerLink="เจ้าหน้าที่/จัดการห้อง" routerLinkActive="active-link">จัดการห้อง</a>
                        </li>
                        <li>
                            <a routerLink="เจ้าหน้าที่/จัดการตึก" routerLinkActive="active-link">จัดการตึก</a>
                        </li>
                    </ul>
                    <li>
                        <a routerLink="/เจ้าหน้าที่/จัดการผู้ใช้งาน" routerLinkActive="active-link">จัดการผู้ใช้งาน</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item" *ngIf="disableMenuProctor">
                <a href="#menuProctor" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">คนคุมสอบ</a>
                <ul class="collapse list-unstyled" id="menuProctor">
                    <li>
                        <a routerLink="/คนคุมสอบ/รายการคุมสอบ" routerLinkActive="active-link">รายการคุมสอบ</a>
                    </li>
                </ul>
            </li>

        </ul>
    </nav>

    <!-- Page Content  -->
    <div id="content">

        <nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="navbarLogin">
            <div class="container-fluid">
                <a class="nav-link" routerLink="/หน้าหลัก" routerLinkActive="active-link">หน้าหลัก</a>
                <ul class="nav navbar-nav ml-auto">
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <div class="btn-group">
                        <button type="button" class="btn btn-light" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-user-circle"></i> {{name}} {{surname}}
                            </button>
                        <div class="dropdown-menu">
                            <button class="dropdown-item" type="button" auto (click)="OnClickLogout()"> <i
                                        class="fa fa-sign-out"></i>Singout</button>
                        </div>
                    </div>
                </form>
            </div>
        </nav>
        <router-outlet></router-outlet>
    </div>
</div>