<!-- <nav class="navbar navbar-expand-xl navbar-light sticky-top " style="background-color: #16a2b7" *ngIf="navbarLogin">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link text-light" routerLink="/หน้าหลัก" routerLinkActive="active-link">หน้าหลัก</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link text-light" routerLink="/เจ้าหน้าที่" routerLinkActive="active-link" *ngIf="checknavBarAdmin">เจ้าหน้าที่</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link text-light" routerLink="/เจ้าหน้าที่/จัดการผู้ใช้งาน" routerLinkActive="active-link" *ngIf="checkNavbarAdminManageUser">จัดการผู้ใช้งาน</a>
            </li>
            <li class="nav-item dropdown ">

                <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" *ngIf="checkNavbarAdminManageExcame">
                    จัดการรายวิชาสอน
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#" routerLink="/เจ้าหน้าที่/จัดการวิชา" routerLinkActive="active-link">จัดการวิชา</a>
                    <a class="dropdown-item" href="#" routerLink="เจ้าหน้าที่/จัดการรายวิชาสอน/เพิ่มรายวิชาสอน" routerLinkActive="active-link">เพิ่มรายวิชา</a>
                    <a class="dropdown-item" href="#" routerLink="เจ้าหน้าที่/จัดการการสอบ" routerLinkActive="active-link">จัดการการสอบ</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" *ngIf="checkNavbarAdminManageRoom" routerLink="เจ้าหน้าที่/จัดการห้อง" routerLinkActive="active-link">จัดการห้อง</a>
                    <a class="dropdown-item" *ngIf="checkNavbarAdminManageRoom" routerLink="เจ้าหน้าที่/จัดการตึก" routerLinkActive="active-link">จัดการตึก</a>
                </div>

                <a class="nav-link text-light" *ngIf="checkNavbarAdminManageExcame"
                    routerLink="/เจ้าหน้าที่/จัดการรายวิชาสอน" routerLinkActive="active-link">จัดการรายวิชาสอน</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link text-light" *ngIf="checkNavbarAdminManagPersonalExcame">จัดการคนคุมสอบ</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link text-light" *ngIf="checkNavbarAdminManageExcameNisit">จัดการที่นั่งสอบนิสิต</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link text-light" *ngIf="checkNavbarAdminManageRoom">จัดการห้องสอบ</a>
            </li>
        </ul>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        </ul>
    </div>
    <form class="form-inline my-2 my-lg-0">
        <div class="btn-group">
            <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-user-circle"></i> {{name}} {{surname}}
            </button>
            <div class="dropdown-menu">
                <button class="dropdown-item" type="button" auto (click)="OnClickLogout()"> <i
                        class="fa fa-sign-out"></i>Singout</button>
            </div>
        </div>
    </form>
</nav> -->

<div class="wrapper sticky-top">
    <!-- Sidebar  -->
    <nav id="sidebar" *ngIf="navbarLogin">
        <div class="sidebar-header">
            <h3>examination</h3>
        </div>

        <ul class="list-unstyled components">
            <p>{{now |date:'medium'}}
            </p>
            <li class="nav-item" *ngIf="disableMenuStudent">
                <a href="#menuStudent" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">นิสิต</a>
            </li>
            <li class="nav-item" *ngIf="disableMenuTeacher">
                <a href="#menuTeacher" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">อาจารย์</a>
            </li>
            <li class="nav-item" *ngIf="disableMenuStaff">
                <a href="#menuStaff" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">เจ้าหน้าที่</a>
                <ul class="collapse list-unstyled" id="menuStaff">
                    <a href="#manageSubject" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">จัดการรายวิชา</a>
                    <ul class="collapse list-unstyled" id="manageSubject">
                        <li>
                            <a class="nav-link" routerLink="/เจ้าหน้าที่/จัดการวิชา" routerLinkActive="active-link">จัดการวิชา</a>
                        </li>
                        <li>
                            <a routerLink="เจ้าหน้าที่/จัดการรายวิชาสอน/เพิ่มรายวิชาสอน" routerLinkActive="active-link">เพิ่มรายวิชา</a>
                        </li>
                        <li>
                            <a routerLink="เจ้าหน้าที่/จัดการการสอบ" routerLinkActive="active-link">จัดการการสอบ</a>

                        </li>
                        <li>
                            <a routerLink="เจ้าหน้าที่/จัดการห้อง" routerLinkActive="active-link">จัดการห้อง</a>
                        </li>
                        <li>
                            <a routerLink="เจ้าหน้าที่/จัดการตึก" routerLinkActive="active-link">จัดการตึก</a>
                        </li>
                    </ul>
                    <li >
                        <a routerLink="/เจ้าหน้าที่/จัดการผู้ใช้งาน" routerLinkActive="active-link" >จัดการผู้ใช้งาน</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item" *ngIf="disableMenuExcame">
                <a href="#menuExcame" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">คนคุมสอบ</a>
            </li>
        </ul>
    </nav>

    <!-- Page Content  -->
    <div id="content">

        <nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="navbarLogin">
            <div class="container-fluid">
                <a class="nav-link" routerLink="/หน้าหลัก" routerLinkActive="active-link">หน้าหลัก</a>
                <ul class="nav navbar-nav ml-auto">
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <div class="btn-group">
                        <button type="button" class="btn btn-light" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-user-circle"></i> {{name}} {{surname}}
                            </button>
                        <div class="dropdown-menu">
                            <button class="dropdown-item" type="button" auto (click)="OnClickLogout()"> <i
                                        class="fa fa-sign-out"></i>Singout</button>
                        </div>
                    </div>
                </form>
            </div>
        </nav>
        <router-outlet></router-outlet>
    </div>
</div>