<div class="container">

    <br>
    <h1 class="text-secondary text-center">จัดการห้อง</h1>
    <div class="row">
        <div class="col-1">
            <select class="form-control" [(ngModel)]="dataOtShow">
                <option *ngFor="let item of otShow">{{item.number}}</option>
            </select>
        </div>
        <div class="col-8">
            <input type="text" class="form-control" name="searchString" placeholder="ค้นหา" [(ngModel)]="searchString">
        </div>
        <div class="col">
            <button class="btn btn-outline-danger" data-toggle="modal" data-target="#modalDel">
                <i class="fa fa-trash"></i>
            </button>&nbsp;
            <button class="btn btn-outline-success" data-toggle="modal" data-target="#exampleModal" data-dismiss="modal"
                (click)="onClear()"><i class="fa fa-plus-square"></i></button>
        </div>
    </div>

    <!-- Modal Add -->
    <div class="modal fade" data-backdrop="false" id="exampleModal" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">เพิ่มข้อมูล</h5>
                </div>
                <div class="modal-body">

                    <form [formGroup]="manageBuild" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <label>ตึก</label>

                            <select class="form-control" formControlName="build" (change)="changeBuild()"
                                [ngClass]="{ 'is-invalid': submitted && f.build.errors }">
                                <option selected *ngIf="disableSBuild" value="">เลือก</option>
                                <option *ngFor="let item of dataBuild">{{item.name}}</option>
                            </select>

                            <div *ngIf="submitted && f.build.errors" class="invalid-feedback">
                                <div *ngIf="f.build.errors.required">กรุณเลือกข้อมูลตึก</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label>ห้อง </label>
                                    <input type="text" class="form-control" formControlName="room"
                                        [ngClass]="{ 'is-invalid': submitted && f.room.errors }" />
                                    <div *ngIf="submitted && f.room.errors" class="invalid-feedback">
                                        <div *ngIf="f.room.errors.required">กรุณาเลือกห้อง</div>
                                    </div>

                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label>จำนวนเก้าอี้ </label>
                                    <input type="text" class="form-control" (keypress)=" notText($event)"
                                        formControlName="sit" maxlength="3"
                                        [ngClass]="{ 'is-invalid': submitted && f.sit.errors }" />
                                    <div *ngIf="submitted && f.sit.errors" class="invalid-feedback">
                                        <div *ngIf="f.sit.errors.required">กรุณากรอกจำนวนเก้าอี้</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label>row </label>
                                    <input type="text" class="form-control" (keypress)=" notText($event)"
                                        formControlName="row" maxlength="3"
                                        [ngClass]="{ 'is-invalid': submitted && f.row.errors }" />
                                    <div *ngIf="submitted && f.row.errors" class="invalid-feedback">
                                        <div *ngIf="f.row.errors.required">กรุณากรอกrow</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label>column </label>
                                    <input type="text" class="form-control" (keypress)=" notText($event)"
                                        formControlName="col" maxlength="3"
                                        [ngClass]="{ 'is-invalid': submitted && f.col.errors }" />
                                    <div *ngIf="submitted && f.col.errors" class="invalid-feedback">
                                        <div *ngIf="f.col.errors.required">กรุณากรอกcolumn</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- <div class="form-group">
                            <label>Status </label>
                            <input type="text" class="form-control"  formControlName="status" [ngClass]="{ 'is-invalid': submitted && f.status.errors }" (keypress)="isNotNumber($event)" />
                            <div *ngIf="submitted && f.status.errors" class="invalid-feedback">
                                <div *ngIf="f.status.errors.required">กรุณากรอกข้อมูล Status</div>
                            </div>
                        </div> -->
                    </form>
                    <div class="alert alert-warning text-center" role="alert" *ngIf="allowAlertAdd">
                        มีข้อมูลอยู่ในระบบแล้ว
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" (click)="onSubmit()">บันทึก</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"
                        id="closeModalInsert">ยกเลิก</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->


    <!-- Modal Edit -->
    <div class="modal fade" data-backdrop="false" id="exampleModal3" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">เพิ่มข้อมูล</h5>
                </div>
                <div class="modal-body">

                    <form [formGroup]="manageBuild" (ngSubmit)="Edit()">
                        <div class="form-group">
                            <label>ตึก</label>
                            <select class="form-control" formControlName="build" (change)="changeBuild()"
                                [ngClass]="{ 'is-invalid': submitted && f.build.errors }">
                                <option *ngFor="let item of dataBuild">{{item.name}}</option>.
                            </select>
                            <div *ngIf="submitted && f.build.errors" class="invalid-feedback">
                                <div *ngIf="f.build.errors.required">กรุณากรอกข้อมูลตึก</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label>ห้อง </label>
                                    <input type="text" class="form-control" formControlName="room"
                                        [ngClass]="{ 'is-invalid': submitted && f.room.errors }" />
                                    <div *ngIf="submitted && f.room.errors" class="invalid-feedback">
                                        <div *ngIf="f.room.errors.required">กรุณาเลือกห้อง</div>
                                    </div>

                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label>จำนวนเก้าอี้ </label>
                                    <input type="text" class="form-control" (keypress)=" notText($event)"
                                        formControlName="sit" maxlength="3"
                                        [ngClass]="{ 'is-invalid': submitted && f.sit.errors }" />
                                    <div *ngIf="submitted && f.sit.errors" class="invalid-feedback">
                                        <div *ngIf="f.sit.errors.required">กรุณากรอกจำนวนเก้าอี้</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label>row </label>
                                    <input type="text" class="form-control" (keypress)=" notText($event)"
                                        formControlName="row" maxlength="3"
                                        [ngClass]="{ 'is-invalid': submitted && f.row.errors }" />
                                    <div *ngIf="submitted && f.row.errors" class="invalid-feedback">
                                        <div *ngIf="f.row.errors.required">กรุณากรอกrow</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label>column </label>
                                    <input type="text" class="form-control" (keypress)=" notText($event)"
                                        formControlName="col" maxlength="3"
                                        [ngClass]="{ 'is-invalid': submitted && f.col.errors }" />
                                    <div *ngIf="submitted && f.col.errors" class="invalid-feedback">
                                        <div *ngIf="f.col.errors.required">กรุณากรอกcolumn</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- <div class="form-group">
                            <label>Status </label>
                            <input type="text" class="form-control" placeholder="Ex.ว่าง" formControlName="status" [ngClass]="{ 'is-invalid': submitted && f.status.errors }" (keypress)="isNotNumber($event)" />
                            <div *ngIf="submitted && f.status.errors" class="invalid-feedback">
                                <div *ngIf="f.status.errors.required">กรุณากรอกข้อมูล Status</div>
                            </div>
                        </div> -->
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success">บันทึก</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" id="closeModalEdit"
                                (click)="onClear()">ยกเลิก</button>
                        </div>
                    </form>
                    <div class="alert alert-warning text-center" role="alert" *ngIf="allowAlertEdit">
                        แก้ไขอมูลเรียบร้อย
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->

    <br>
    <div class="table-responsive">
        <table class="table table-hover text-center">
            <thead>
                <tr>
                    <th scope="col">เลือก</th>
                    <th scope="col">ตึก</th>
                    <th scope="col">ห้อง</th>
                    <th scope="col">จำนวนเก้าอี้</th>
                    <!-- <th scope="col">Status</th> -->
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr
                    *ngFor="let item of data | filterPipe :{build:searchString,room:searchString,sit:searchString,status:searchString} | paginate: { itemsPerPage: dataOtShow, currentPage: p }; let i = index">
                    <td> <label><input type="checkbox" value="{{item._id}}"
                                (change)="onSetData($event,item._id,i+1)"></label>
                    </td>
                    <td>{{item.build}}</td>
                    <td>{{item.room}}</td>
                    <td>{{item.sit}}</td>
                    <!-- <td>{{item.status}}</td> -->
                    <td>
                        <button class="btn btn-warning" data-toggle="modal" data-target="#exampleModal3"
                            data-dismiss="modal" (click)="onClickEdit(item._id,item.build,item.room,item.sit,item.row,item.col,
                item.mon,
                item.tue,
                item.wed,
                item.the,
                item.fri,
                item.sat,
                item.sun
                )"> <i class="fa fa-edit"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
        <pagination-controls (pageChange)="p = $event" class="text-center"></pagination-controls>
    </div>
</div>

<!--ModalDelete-->

<div class="modal fade" data-backdrop="false" id="modalDel" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle text-center">ลบผู้ใช้งาน</h5>
            </div>
            <div class="modal-body text-center">
                ยืนยันการลบข้อมูล
            </div>
            <div class="alert alert-danger text-center" role="alert" *ngIf="allowAlertDelete">
                ลบข้อมูลเรียบร้อย
            </div>
            <div class="alert alert-danger text-center" role="alert" *ngIf="allowAlertDeleteFail">
                กรุณาเลือกช่องเพื่อลบข้อมูล
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="onClickDelete()">ตกลง</button>

                <button type="button" class="btn btn-secondary" data-dismiss="modal" id=closeModalDelete>ยกเลิก</button>
            </div>
        </div>
    </div>
</div>

<!---->

<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>