<div class="container w3-animate-opacity">
    <br />
    <h1 class="text-secondary text-center">จัดการผู้ใช้งาน</h1>

    <!-- Modal เพิ่มผู้ใช้ -->
    <div class="modal fade" data-backdrop="false" id="modalInsert" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">เพิ่มผู้ใช้</h5>
                </div>
                <div class="modal-body">
                    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                        <div class="row">
                            <div class="col">
                                <div class="form-group row">
                                    <label for="name" class="col-sm-3 col-form-label">ชื่อ</label>
                                    <div class="col-sm-9">
                                        <input type="text" formControlName="firstName" class="form-control"
                                            [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }"
                                            (keypress)="isNotNumber($event)" />
                                        <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                                            <div *ngIf="f.firstName.errors.required">
                                                กรุณากรอกชื่อ
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="surname" class="col-sm-3 col-form-label">นามสกุล</label>
                                    <div class="col-sm-9">
                                        <input type="text" formControlName="lastName" class="form-control"
                                            [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }"
                                            (keypress)="isNotNumber($event)" />
                                        <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                                            <div *ngIf="f.lastName.errors.required">
                                                กรุณากรอกนามสกุล
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="username" class="col-sm-3 col-form-label">ชื่อผู้ใช้</label>
                                    <div class="col-sm-9">
                                        <input type="text" formControlName="username" class="form-control"
                                            (keypress)="isKeypressUsername($event)" maxlength="20"
                                            [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                                        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                                            <div *ngIf="f.username.errors.required">กรุณากรอกชื่อผู้ใช้</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="password" class="col-sm-3 col-form-label">รหัสผ่าน</label>
                                    <div class="col-sm-9">
                                        <input type="password" formControlName="password" class="form-control"
                                            [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                            <div *ngIf="f.password.errors.required">กรุณากรอกรหัสผ่าน</div>
                                            <div *ngIf="f.password.errors.minlength">
                                                รหัสผ่านไม่ครบ8ตัว
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="repassword" class="col-sm-3 col-form-label">ยืนยันรหัสผ่าน</label>
                                    <div class="col-sm-9">
                                        <input type="password" formControlName="confirmPassword" class="form-control"
                                            [ngClass]="{
                      'is-invalid': submitted && f.confirmPassword.errors
                    }" />
                                        <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                                            <div *ngIf="f.confirmPassword.errors.required">
                                                กรุณากรอกยืนยันรหัสผ่าน
                                            </div>
                                            <div *ngIf="f.confirmPassword.errors.mustMatch">
                                                รหัสผ่านและยืนยันรหัสผ่านไม่ตรงกัน
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="type" class="col-sm-3 col-form-label">สถานะ</label>
                                    <div class="col-sm-7">
                                        <ng-multiselect-dropdown [placeholder]="'เลือก'" [data]="dropdownList"
                                            formControlName="type"
                                            [ngClass]="{ 'is-invalid': submitted && f.type.errors }"
                                            [settings]="dropdownSettings" (onSelect)="onItemSelect($event)"
                                            (onSelectAll)="onSelectAll($event)">
                                        </ng-multiselect-dropdown>
                                        <div *ngIf="submitted && f.type.errors" class="invalid-feedback">
                                            <div *ngIf="f.type.errors.required">กรุณาเลือกสถานะ</div>
                                        </div>


                                        <input type="text" formControlName="checkType" class="form-control"
                                            [ngClass]="{ 'is-invalid': submitted && f.checkType.errors }" hidden />
                                        <div *ngIf="submitted && f.checkType.errors" class="invalid-feedback">
                                            <div *ngIf="f.checkType.errors.required">กรุณาเลือกสถานะ</div>
                                        </div>
                                    </div>

                                    <div class="col-sm-2">
                                        <button class="btn btn-outline-primary" type="button" (click)="resetSelect()"><i
                                                class="fa fa-resistance"></i>Reset</button>
                                    </div>

                                </div>
                                <div class="form-group row">
                                    <label for="repassword" class="col-sm-3 col-form-label">อีเมล์</label>
                                    <div class="col-sm-9">
                                        <input type="text" formControlName="email" class="form-control"
                                            [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                            <div *ngIf="f.email.errors.required">กรุณากรอกอีเมล์</div>
                                            <div *ngIf="f.email.errors.email">
                                                กรุณากรอกอีเมล์ให้ถูกต้อง
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="alert alert-success text-center" role="alert" *ngIf="allowAlertAdd">
                            เพิ่มข้อมูลเรียบร้อย
                        </div>

                        <div class="modal-footer">
                            <button type="button" id="closeModal" class="btn btn-secondary"
                                data-dismiss="modal">ยกเลิก</button>
                            <button type="submit" class="btn btn-primary">บันทึก</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal แก้ไขผู้ใช้-->
    <div class="modal fade" data-backdrop="false" id="modalEdit" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">แก้ไขผู้ใช้</h5>
                </div>
                <div class="modal-body">

                    <form [formGroup]="registerForm" (ngSubmit)="onClickEdit()">
                        <div class="row">
                            <div class="col">
                                <div class="form-group row">
                                    <label for="name" class="col-sm-3 col-form-label">ชื่อ</label>
                                    <div class="col-sm-9">
                                        <input type="text" formControlName="firstName" class="form-control"
                                            [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }"
                                            (keypress)="isNotNumber($event)" />
                                        <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                                            <div *ngIf="f.firstName.errors.required">
                                                กรุณากรอกชื่อ
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="surname" class="col-sm-3 col-form-label">นามสกุล</label>
                                    <div class="col-sm-9">
                                        <input type="text" formControlName="lastName" class="form-control"
                                            [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }"
                                            (keypress)="isNotNumber($event)" />
                                        <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                                            <div *ngIf="f.lastName.errors.required">
                                                กรุณากรอกนามสกุล
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="username" class="col-sm-3 col-form-label">ชื่อผู้ใช้</label>
                                    <div class="col-sm-9">
                                        <input type="text" formControlName="username" class="form-control"
                                            (keypress)="isKeypressUsername($event)" maxlength="20" id="ipUsername"
                                            [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                                        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                                            <div *ngIf="f.username.errors.required"> กรุณากรอกชื่อผู้ใช้ </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="type" class="col-sm-3 col-form-label">สถานะ</label>
                                    <div class="col-sm-9">
                                        <ng-multiselect-dropdown [placeholder]="'เลือก'" [data]="dropdownList"
                                            formControlName="type" [settings]="dropdownSettings"
                                            (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)"
                                            [(ngModel)]="selectedItems"
                                            [ngClass]="{ 'is-invalid': submitted && f.type.errors }">
                                        </ng-multiselect-dropdown>
                                        <div *ngIf="submitted && f.type.errors" class="invalid-feedback">
                                            <div *ngIf="f.type.errors.required"> กรุณาเลือกสถานะ </div>
                                        </div>

                                        <input type="text" formControlName="checkType" class="form-control"
                                            [ngClass]="{ 'is-invalid': submitted && f.checkType.errors }" hidden />
                                        <div *ngIf="submitted && f.checkType.errors" class="invalid-feedback">
                                            <div *ngIf="f.checkType.errors.required">กรุณาเลือกสถานะ</div>
                                        </div>


                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="repassword" class="col-sm-3 col-form-label">อีเมล์</label>
                                    <div class="col-sm-9">
                                        <input type="text" formControlName="email" class="form-control"
                                            [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                            <div *ngIf="f.email.errors.required"> กรุณากรอกอีเมล์ </div>
                                            <div *ngIf="f.email.errors.email">
                                                กรุณากรอกอีเมล์ให้ถูกต้อง
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="alert alert-primary text-center" role="alert" *ngIf="allowAlertEdit">
                            แก้ไขอมูลเรียบร้อย
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" id="closeModaledit"
                                data-dismiss="modal">ยกเลิก</button>
                            <button type="submit" class="btn btn-primary" (click)="onClickEdit">บันทึก</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-1 col-sm-1">
            <select class="form-control form-control-sm" [(ngModel)]="dataOtShow">
                <option *ngFor="let item of otShow">{{item.number}}</option>
            </select>
        </div>
        <div class="col-9" *ngIf="disableTable">
            <div class="input-group">
                <input type="text" class="form-control" name="searchString" placeholder="ค้นหา"
                    [(ngModel)]="searchString" />
                <div class="input-group-prepend bg-white">
                    <span class="input-group-text border-left-0 rounded-right bg-white">
                        <i class="fa fa-search"></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="col">
            <button class="btn btn-outline-danger" data-toggle="modal" data-target="#modalDel">
                <i class="fa fa-trash"></i>
            </button>

            <!--ModalDelete-->

            <div class="modal fade" data-backdrop="false" id="modalDel" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle text-center">ลบผู้ใช้งาน</h5>
                        </div>
                        <div class="modal-body text-center">
                            ยืนยันการยกเลิก
                        </div>
                        <div class="alert alert-danger text-center" role="alert" *ngIf="allowAlertDelete">
                            ลบข้อมูลเรียบร้อย
                        </div>
                        <div class="alert alert-danger text-center" role="alert" *ngIf="allowAlertDeleteFail">
                            กรุณาเลือกช่องเพื่อลบข้อมูล
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                id=closeModalDelete>ยกเลิก</button>
                            <button type="button" class="btn btn-primary" (click)="onClickDelete()">ตกลง</button>
                        </div>
                    </div>
                </div>
            </div>

            <!---->

            &nbsp;
            <button class="btn btn-outline-success" data-toggle="modal" data-target="#modalInsert"
                (click)="OnclearHide()">
                <i class="fa fa-user-plus"></i>
            </button>
        </div>
    </div>

    <br />

    <div class="table-responsive">
        <table class="table table-hover text-center" id="just_a_table">
            <thead>
                <tr>
                    <th scope="col">เลือก</th>
                    <th scope="col" [class.active]="order === 'name'" (click)="setOrder('name')">ชื่อ</th>
                    <th scope="col" [class.active]="order === 'surname'" (click)="setOrder('surname')">นามสกุล</th>
                    <th scope="col" [class.active]="order === 'username'" (click)="setOrder('username')">ชื่อผู้ใช้</th>
                    <th scope="col" [class.active]="order === 'email'" (click)="setOrder('email')">อีเมล์</th>
                    <th scope="col" [class.active]="order === 'types'" (click)="setOrder('types')">สถานะ</th>
                    <th scope="col"> </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="
          let item of (data
            | filterPipe
              : {
                  name: searchString,
                  surname: searchString,
                  username: searchString,
                  types: searchString,
                  email: searchString
                }
            | paginate: { itemsPerPage: dataOtShow, currentPage: p }) | orderBy: order:reverse:'case-insensitive';
          let i = index
        ">
                    <td>
                        <label><input type="checkbox" value="{{ item._id }}"
                                (change)="onSetData($event, item._id)" /></label>
                    </td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.surname }}</td>
                    <td>{{ item.username }}</td>
                    <td>{{ item.email }}</td>
                    <td>{{ item.types }}</td>
                    <td>
                        <button class="btn btn-warning " data-toggle="modal" data-target="#modalEdit" (click)="
            tableClick(
              item.name,
              item.surname,
              item.username,
              item.password,
              item.types,
              item.email,
              i + 1,
              $event
            )
          ">
                            <i class="fa fa-edit"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <pagination-controls (pageChange)="p = $event" class="text-center"></pagination-controls>
    </div>
</div>
<!-- <input type="file" style="display: inline-block;" (change)="incomingfile($event)" placeholder="Upload file"
accept=".xlsx">
<button type="button" class="btn btn-info" (click)="Upload()">Upload</button>

<button type="button" class="btn btn-info" (click)="testexcel()">data</button> -->
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>