<div class="container">
    <br>
    <h1 class="text-secondary text-center">จัดการการสอบ</h1>
    <div class="row">
        <div class="col-1">
            <select class="form-control" [(ngModel)]="dataOtShow">
                <option *ngFor="let item of otShow">{{item.number}}</option>
            </select>
        </div>
        <div class="col">
            <div class="input-group">
                <input type="text" class="form-control" name="searchString" placeholder="ค้นหา" [(ngModel)]="searchString">
                <div class="input-group-prepend bg-white">
                    <span class="input-group-text border-left-0 rounded-right bg-white">
                        <i class="fa fa-search"></i>
                    </span>
                </div>
            </div>
        </div>


        <button class="btn btn-outline-danger" data-toggle="modal" data-target="#modalDel">
            <i class="fa fa-trash"></i>
        </button>&nbsp;

        <button class="btn btn-outline-success" id="insertEx" data-toggle="modal" data-target="#modalInsert" (click)="onClear()">
            <i class="fa fa-plus"></i></button>&nbsp;
    </div>
    <br>
    <div class="table-responsive">
        <table class="table table-hover text-center">
            <thead>
                <tr>
                    <th scope="col">เลือก</th>
                    <th scope="col" [class.active]="order === 'id'" (click)="setOrder('id')">รหัสวิชา</th>
                    <th scope="col" [class.active]="order === 'name'" (click)="setOrder('name')">ชื่อวิชา</th>
                    <th scope="col" [class.active]="order === 'teacher'" (click)="setOrder('teacher')">อาจารย์</th>
                    <th scope="col">วัน</th>
                    <th scope="col">เวลาเริ่ม</th>
                    <th scope="col">เวลาจบ</th>
                    <th scope="col">ห้องสอบ</th>
                    <th scope="col">จำนวนนิสิต</th>
                    <th scope="col">คนคุมสอบ</th>
                    <th scope="col">สถานะ</th>
                    <th scope="col">แก้ไข</th>
                    <th scope="col">ดูที่นั่ง</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of data | filterPipe:{id:searchString,name:searchString,faculty:searchString,teacher:searchString,day:searchString,room:searchString}
          | paginate: { itemsPerPage: dataOtShow, currentPage: p } | orderBy: order:reverse:'case-insensitive' ; let i = index
          ">
                    <td><label><input type="checkbox" value="{{ item._id }}"
                                (change)="onSetDataDelete($event, item._id)" /></label>
                    </td>
                    <td>{{item.id}} </td>
                    <td>{{item.name}} </td>
                    <td>{{item.teacher}} </td>
                    <td>{{item.day}} </td>
                    <td>{{item.timeStart}} </td>
                    <td>{{item.timeEnd}} </td>
                    <td>{{item.room}}</td>
                    <td>{{item.amongNisit}}</td>
                    <td>{{item.examer.length}}</td>
                    <td>{{item.statusExam}}</td>
                    <td>
                        <button class="btn btn-warning" data-toggle="modal" data-target="#modalEdit" data-dismiss="modal" (click)="tableClick(
            item.id,
            item.name,
            item.teacher,
            item.faculty,
            item.timeStart,
            item.timeEnd,
            item.day,
            item.room,
            item.amongNisit,
            item.examer
            )">
                            <i class="fa fa-edit"></i></button>
                    </td>
                    <td>
                        <button class="btn btn-info" data-toggle="modal" data-target="#modalSit" data-dismiss="modal" (click)="tableClick(
                            item.id,
                            item.name,
                            item.teacher,
                            item.faculty,
                            item.timeStart,
                            item.timeEnd,
                            item.day,
                            item.room,
                            item.amongNisit,
                            item.examer
                            )">  
                            <i class="fa fa-male"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
        <pagination-controls (pageChange)="p = $event" class="text-center"></pagination-controls>
    </div>
</div>


<!-- ModalInsert -->

<div class="modal fade" data-backdrop="false" id="modalInsert" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="exampleModalLabel">เพิ่มการสอบ</h5>
            </div>
            <div class="modal-body">

                <form [formGroup]="form" (ngSubmit)="insertExam()">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label>รหัสวิชา</label>
                                <select class="form-control" formControlName="id" (change)="checkIdSubject()" [ngClass]="{ 'is-invalid': submitted && f.id.errors }">
                                    <option disabled selected *ngIf="checkselect">เลือก</option>
                                    <option *ngFor="let item of subjectOpen">{{item.id}}</option>
                                </select>
                                <div *ngIf="submitted && f.id.errors" class="invalid-feedback">
                                    <div *ngIf="f.id.errors.required">กรุณาเลือกรหัสวิชา</div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label>ชื่อวิชา </label>
                                <select class="form-control" formControlName="nameSubject" (change)="checkNameSubject()" [ngClass]="{ 'is-invalid': submitted && f.nameSubject.errors }">
                                    <option disabled selected *ngIf="checkselect">เลือก</option>
                                    <option *ngFor="let item of subjectOpen">{{item.name}}</option>
                                </select>
                                <div *ngIf="submitted && f.nameSubject.errors" class="invalid-feedback">
                                    <div *ngIf="f.nameSubject.errors.required">กรุณาเลือกชื่อวิชา</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label>ชื่ออาจารย์ </label>
                                <input type="text" formControlName="nameTeacher" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nameTeacher.errors }" disabled />
                                <div *ngIf="submitted && f.nameTeacher.errors" class="invalid-feedback">
                                    <div *ngIf="f.nameTeacher.errors.required">
                                        กรุณากรอกชื่ออาจารย์
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="col">
                                <div class="form-group">
                                    <label>คณะ </label>
                                    <input type="text" formControlName="faculty" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.faculty.errors }" disabled />
                                    <div *ngIf="submitted && f.faculty.errors" class="invalid-feedback">
                                        <div *ngIf="f.faculty.errors.required">
                                            กรุณากรอกคณะ
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label>วัน </label>
                                <select class="form-control" formControlName="day" [ngClass]="{ 'is-invalid': submitted && f.day.errors }" (change)="checkDay()">
                                    <option selected disabled>เลือก</option>
                                    <option>จันทร์</option>
                                    <option>อังคาร</option>
                                    <option>พุธ</option>
                                    <option>พฤหัสบดี</option>
                                    <option>ศุกร์</option>
                                    <option>เสาร์</option>
                                    <option>อาทิตย์</option>
                                </select>
                                <div *ngIf="submitted && f.day.errors" class="invalid-feedback">
                                    <div *ngIf="f.day.errors.required">กรุณาเลือกวัน</div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <label>เวลาเริ่มสอบ </label>
                            <div class="form-group">
                                <select class="form-control" formControlName="timeStart" (change)="checkTime()" id="timeStart" [ngClass]="{ 'is-invalid': submitted && f.timeStart.errors }" disabled>
                                    <option disabled selected *ngIf="checkselect">เลือก</option>
                                    <option *ngFor="let item of pickTimeStart">{{item}}</option>
                                </select>
                                <div *ngIf="submitted && f.timeStart.errors" class="invalid-feedback">
                                    <div *ngIf="f.timeStart.errors.required">กรุณาเลือกเวลาเริ่มสอบ</div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label>เวลาที่สิ้นสุดสอบ </label>
                                <select class="form-control" formControlName="timeEnd" id="timeEnd" [ngClass]="{ 'is-invalid': submitted && f.timeEnd.errors }" disabled>
                                    <option disabled selected *ngIf="checkselect">เลือก</option>
                                    <option *ngFor="let item of pickTimeEnd">{{item}}</option>
                                </select>
                                <div *ngIf="submitted && f.timeEnd.errors" class="invalid-feedback">
                                    <div *ngIf="f.timeEnd.errors.required">กรุณาเลือกเวลาที่สิ้นสุดสอบ</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success">บันทึก</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="onClear()" id=closeModalInsert>ยกเลิก</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- ModalEdit -->
<div class="modal fade" data-backdrop="false" id="modalEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="exampleModalLabel">เพิ่มการสอบ</h5>
            </div>
            <div class="modal-body">

                <form [formGroup]="form" (ngSubmit)="onEdit()">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label>รหัสวิชา</label>
                                <input type="text" formControlName="id" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.faculty.errors }" disabled />
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label>ชื่อวิชา </label>
                                <input type="text" formControlName="nameSubject" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.faculty.errors }" disabled />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label>ชื่ออาจารย์ </label>
                                <input type="text" formControlName="nameTeacher" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.faculty.errors }" disabled />
                            </div>
                        </div>
                        <div class="col">
                            <div class="col">
                                <div class="form-group">
                                    <label>คณะ </label>
                                    <input type="text" formControlName="faculty" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.faculty.errors }" disabled />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label>วัน </label>
                                <select class="form-control" formControlName="day" [ngClass]="{ 'is-invalid': submitted && f.day.errors }" (change)="checkDay()">
                                    <option>จันทร์</option>
                                    <option>อังคาร</option>
                                    <option>พุธ</option>
                                    <option>พฤหัสบดี</option>
                                    <option>ศุกร์</option>
                                    <option>เสาร์</option>
                                    <option>อาทิตย์</option>
                                </select>
                                <div *ngIf="submitted && f.day.errors" class="invalid-feedback">
                                    <div *ngIf="f.day.errors.required">กรุณาเลือกวัน</div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <label>เวลาเริ่มสอบ </label>
                            <div class="form-group">
                                <select class="form-control" formControlName="timeStart" (change)="checkTime()" id="timeStart" [ngClass]="{ 'is-invalid': submitted && f.timeStart.errors }">
                                    <option disabled selected *ngIf="checkselect">เลือก</option>
                                    <option *ngFor="let item of pickTimeStart">{{item}}</option>
                                </select>
                                <div *ngIf="submitted && f.timeStart.errors" class="invalid-feedback">
                                    <div *ngIf="f.timeStart.errors.required">กรุณาเลือกเวลาเริ่มสอบ</div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label>เวลาที่สิ้นสุดสอบ </label>
                                <input type="text" formControlName="timeEnd" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.timeEnd.errors }" disabled *ngIf="hideTimeBtn" />
                                <select class="form-control" formControlName="timeEnd" id="timeEnd" *ngIf="hideTimeSelect" [ngClass]="{ 'is-invalid': submitted && f.timeEnd.errors }">
                                    <option disabled selected *ngIf="checkselect">เลือก</option>
                                    <option *ngFor="let item of pickTimeEnd">{{item}}</option>
                                </select>
                                <div *ngIf="submitted && f.timeEnd.errors" class="invalid-feedback">
                                    <div *ngIf="f.timeEnd.errors.required">กรุณาเลือกเวลาที่สิ้นสุดสอบ</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label>คนคุมสอบ </label>
                                <ng-multiselect-dropdown [placeholder]="'เลือก'" [data]="examerList" formControlName="nameExamer" [(ngModel)]="selectedItems" [ngClass]="{ 'is-invalid': submitted && f.nameExamer.errors }" [settings]="dropdownSettings" (onSelect)="onItemSelect($event)">
                                </ng-multiselect-dropdown>
                                <div *ngIf="submitted && f.nameExamer.errors" class="invalid-feedback">
                                    <div *ngIf="f.nameExamer.errors.required">คนคุมสอบ</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label>ห้องสอบ </label>
                                <select class="form-control" formControlName="room" [ngClass]="{ 'is-invalid': submitted && f.room.errors }">
                                    <option disabled selected *ngIf="checkselect">เลือก</option>
                                    <option *ngFor="let item of roomList">{{item}}</option>
                                </select>
                                <div *ngIf="submitted && f.room.errors" class="invalid-feedback">
                                    <div *ngIf="f.room.errors.required">กรุณาเลือกเวลาที่สิ้นสุดสอบ</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success">บันทึก</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="onClear()" id=closeModalEdit>ยกเลิก</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--modalSit-->

<div class="modal fade" data-backdrop="false" id="modalSit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="exampleModalLabel">ที่นั่งสอบของนิสิต</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <h3 class="font-weight-bold text-left"> {{id}} &nbsp; {{name}} </h3>
                    </div>
                    <div class="col col-lg-4">

                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h4 class="font-weight-bold text-left"> จำนวนนิสิต {{sit}} คน </h4>
                    </div>
                    <div class="col">

                    </div>
                </div>
                <br>

                <div class="row">
                    <div class="col">
                        <table class="table table-bordered text-center table-sm table-fixed">
                            <thead>
                                <tr>
                                    <th scope="col">ลำดับ</th>
                                    <th scope="col">รหัสนิสิต</th>
                                    <th scope="col">ชื่อ-สกุล</th>
                                    <th scope="col">ที่นั่ง</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of student | orderBy: order:true:'case-insensitive' ; let i = index">
                                    <th scope="row">{{i+1}} </th>
                                    <td>{{item.username}} </td>
                                    <td>{{item.name}} {{item.surname}} </td>
                                    <td>{{item.examSit}} </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--modalSit-->

<!--ModalDelete-->

<div class="modal fade" data-backdrop="false" id="modalDel" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle text-center">ลบผู้ใช้งาน</h5>
            </div>
            <div class="modal-body text-center">
                ยืนยันการยกเลิกการสอบ
            </div>
            <div class="alert alert-danger text-center" role="alert" *ngIf="allowAlertDelete">
                ยกเลิกการสอบเรียบร้อย
            </div>
            <div class="alert alert-danger text-center" role="alert" *ngIf="allowAlertDeleteFail">
                กรุณาเลือกช่องเพื่อลบข้อมูล
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="cancelExam()">ตกลง</button>

                <button type="button" class="btn btn-secondary" data-dismiss="modal" id=closeModalDelete>ยกเลิก</button>
            </div>
        </div>
    </div>
</div>

<!---->
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>