<div class="container">
    <br>
    <h1 class="text-secondary text-center">จัดการตึก</h1>
    <div class="row">
        <div class="col-1">
            <select class="form-control" [(ngModel)]="dataOtShow">
                <option *ngFor="let item of otShow">{{item.number}}</option>
            </select>
        </div>
        <div class="col-8">
            <input type="text" class="form-control" name="searchString" placeholder="ค้นหา" [(ngModel)]="searchString">
        </div>
        <div class="col">
            <button class="btn btn-outline-danger" (click)="onClickDelete()"><i
                    class="fa fa-trash"></i></button>&nbsp;
            <button class="btn btn-outline-success" data-toggle="modal" data-target="#exampleModal" data-dismiss="modal"
                (click)="onClear()"><i class="fa fa-plus-square"></i></button>&nbsp;
        </div>
    </div>
    <br>
    <div class="table-responsive">
        <table class="table table-hover table-striped text-center table-bordered">
            <thead>
                <tr>
                    <th scope="col">เลือก</th>
                    <th scope="col">ชื่อ</th>
                    <th scope="col">จำนวนห้อง</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr
                    *ngFor="let item of data | filterPipe :{build:searchString,room:searchString,sit:searchString,status:searchString} | paginate: { itemsPerPage: dataOtShow, currentPage: p }; let i = index">
                    <td> <label><input type="checkbox" value="{{item._id}}"
                                (change)="onSetData($event,item._id,i+1)"></label>
                    </td>
                    <td>{{item.name}}</td>
                    <td>{{item.amongRoom}}</td>
                    <td>
                        <button class="btn btn-warning" data-toggle="modal" data-target="#exampleModal3"
                            data-dismiss="modal" (click)="onClickEdit(item._id,
                item.name,
                item.amongRoom
                )"> <i class="fa fa-edit"></i></button>
                    </td>

                    <!-- Modal Add -->
                    <div class="modal fade" data-backdrop="false" id="exampleModal" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-md" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">เพิ่มข้อมูล</h5>
                                </div>
                                <div class="modal-body">

                                    <form [formGroup]="form" (ngSubmit)="onSubmit()">
                                        <div class="form-group">
                                            <label>ชื่อ</label>
                                            <input type="text" class="form-control" formControlName="name"
                                                [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                                            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                                <div *ngIf="f.name.errors.required">กรุณากรอกข้อมูลตึก</div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>จำนวนห้อง </label>
                                            <input type="text" class="form-control" formControlName="among"
                                                maxlength="3"
                                                [ngClass]="{ 'is-invalid': submitted && f.among.errors }" />
                                            <div *ngIf="submitted && f.among.errors" class="invalid-feedback">
                                                <div *ngIf="f.among.errors.required">กรุณาเลือกห้อง</div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-success">บันทึก</button>
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                                id="closeModalInsert">ยกเลิก</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal -->

                    <!-- Modal Edit -->
                    <div class="modal fade" data-backdrop="false" id="exampleModal3" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-md" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">เพิ่มข้อมูล</h5>
                                </div>
                                <div class="modal-body">

                                    <form [formGroup]="form" (ngSubmit)="Edit()">
                                        <div class="form-group">
                                            <label>ตึก</label>
                                            <input type="text" class="form-control" formControlName="name"
                                                [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                                            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                                <div *ngIf="f.name.errors.required">กรุณากรอกชื่อตึก</div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>ห้อง </label>
                                            <input type="text" class="form-control" formControlName="among"
                                                maxlength="3"
                                                [ngClass]="{ 'is-invalid': submitted && f.among.errors }" />
                                            <div *ngIf="submitted && f.among.errors" class="invalid-feedback">
                                                <div *ngIf="f.among.errors.required">กรุณากรอกจำนวนห้อง</div>
                                            </div>
                                        </div>
                                        <div class="alert alert-warning text-center" role="alert"
                                            *ngIf="allowAlertEdit">
                                            แก้ไขอมูลเรียบร้อย
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-success">บันทึก</button>
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                                id="closeModalEdit">ยกเลิก</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal -->

                </tr>
            </tbody>
        </table>
        <pagination-controls (pageChange)="p = $event" class="text-center"></pagination-controls>
    </div>
</div>
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>